* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeeee;
}

.container .search_box{
	width: 600px;
	height: 70px;
	box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1), -18px -18px 30px rgba(255, 255, 255, 1);
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #EFEEEE;
}

.container .search_box .text{
	width: 500px;
	height: 25px;
	box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1), -18px -18px 30px rgba(255, 255, 255, 1);
	border-radius: 20px;
	background-color: #EFEEEE;
}

.container .search_box .text:hover{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.8), inset 18px 18px 30px rgba(0, 0, 0, 0.1), inset -18px -18px 30px rgba(255, 255, 255, 1);
	transition: box-shadow .2s ease-out;
}

.container .search_box .text:focus{
	outline: none;
}

.container .search_box .search{
	width: 50px;
	height: 25px;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.8),18px 18px 30px rgba(0, 0, 0, 0.1), -18px -18px 30px rgba(255, 255, 255, 1);
	border-radius: 20px;
	background-color: #EFEEEE;
}

.container .search_box .search:hover{
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.8), inset 18px 18px 30px rgba(0, 0, 0, 0.1), inset -18px -18px 30px rgba(255, 255, 255, 1);
	transition: box-shadow .2s ease-out;
}

.container .search_box .search:focus{
	outline: none;
}

.container {
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.container .box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100px;
    height: 140px;
    margin: 20px;
}

.container .box .img {
    width: 100px;
    height: 100px;
    box-shadow: 18px 18px 30px rgba(0, 0, 0, 0.1), -18px -18px 30px rgba(255, 255, 255, 1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efeeee;
    transition: box-shadow .2s ease-out;
    position: relative;
}

.container .box .img img {
    width: 60px;
    transition: width 0.2s ease-out;
}



.container .box .img:hover {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(255, 255, 255, 0.8), inset 18px 18px 30px rgba(0, 0, 0, 0.1), inset -18px -18px 30px rgba(255, 255, 255, 1);
    transition: box-shadow .2s ease-out;
}

.container .box .img:hover img {
    width: 58px;
    transition: width 0.2s ease-out;
}

.container .search_box .search{
	padding: 0;
	text-decoration: none;
	color: #7A2DA1;
	font-weight: bold;
	font-family: "微软雅黑";
}

.container .box a{
	display: block;
	width: 100%;
	text-align: center;
	padding: 0;
	text-decoration: none;
	color: #7a2da1;
	font-weight: bold;
	font-family: "微软雅黑";
	float: left;			
	}